</br>
</br>
<hr>
</br>
<footer class="footer">
  <div class="container">
    <p>&copy; 2019-2020</p>
    <p class="text-muted"><a href="https://bitbucket.org/teamalpha07/bankingapplication/src/master/" target="_blank">Repository</a></p>
  </div>
</footer>