<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <br>
      <br>
      <h1>Home page</h1>
      <br>
      <h3>Watch the address bar.</h3>
      <p>Create GET requests using the address bar.</p>
      <hr>
      <h3>During development, test your api here. </h3>
      <br>

      <h4>Requests to GET JSON</h4>
      <ol>
        
        <li> <a href="/users/findall">http://<%= Hostname %>:<%= PortName %>/users/findall</a>
        </li>
        <li> <a href="/users/findone/1">http://<%= Hostname %>:<%= PortName %>/users/findone/1</a>
        </li>
        <li> <a href="/users/findone/2">http://<%= Hostname %>:<%= PortName %>/users/findone/2</a>
        </li>
        <li> <a href="/users/findone/3">http://<%= Hostname %>:<%= PortName %>/users/findone/2</a>
        </li>
        <li> <a href="/users/findone/4">http://<%= Hostname %>:<%= PortName %>/users/findone/3</a>
        </li>
      </ol>
      <br>
      <h4>Requests to GET a view</h4>
      <ol>
        <li>
          <a href="/users">http://<%= Hostname %>:<%= PortName %>/users</a>
        </li>
        <li>
          <a href="/users/create">http://<%= Hostname %>:<%= PortName %>/users/create</a>
        </li>

        <li>
          <a href="/users/edit/1">http://<%= Hostname %>:<%= PortName %>/users/edit/91</a>
        </li>
        <li>
          <a href="/users/edit/2">http://<%= Hostname %>:<%= PortName %>/users/edit/2</a>
        </li>
        <li>
          <a href="/users/edit/3">http://<%= Hostname %>:<%= PortName %>/users/edit/3</a>
        </li>

        <li>
          <a href="/users/delete/1">http://<%= Hostname %>:<%= PortName %>/users/delete/1</a>
        </li>
        <li>
          <a href="/users/delete/2">http://<%= Hostname %>:<%= PortName %>/users/delete/2</a>
        </li>
        <li>
          <a href="/users/delete/3">http://<%= Hostname %>:<%= PortName %>/users/delete/3</a>
        </li>

        <li>
          <a href="/users/details/1">http://<%= Hostname %>:<%= PortName %>/users/details/1</a>
        </li>
        <li>
          <a href="/users/details/2">http://<%= Hostname %>:<%= PortName %>/users/details/2</a>
        </li>
        <li>
          <a href="/users/details/2">http://<%= Hostname %>:<%= PortName %>/users/details/2</a>
        </li>

      </ol>
    </div>
  </div>
</div>