<!DOCTYPE html>
<!-- saved from url=(0079)https://www.atlascode.com/wp-content/uploads/2017/04/dashboard-fixed-width.html -->
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="https://www.atlascode.com/wp-content/uploads/favicon.ico">

  <title>NW Bank - <%=title%> </title>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link href="/css/style.css" rel="stylesheet">

</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">NW bank</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/settings">Settings</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/help">Help</a></li>
        </ul>
        <form class="navbar-form navbar-right">
          <input type="text" class="form-control" placeholder="Search...">
        </form>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="sidebar">
        <ul class="nav nav-sidebar">
          <li <%if (locals.Data==='users') { %> class="active" <% } %>><a href="/users">Users

              <span class="sr-only">(current)</span>
            </a> </li>
          <li <%if (locals.Data==='accounts') { %> class="active" <% } %>><a href="/accounts">Accounts
          <li <%if (locals.Data==='transactions') { %> class="active" <% } %>><a href="/transactions">Transactions</a></li>
          <li <%if (locals.Data==='category') { %> class="active" <% } %>><a href="/category">Category</a></li>
          <li ><a href="/about">About Us</a></li>
        </ul>
      </div>

      <div class="col-sm-12 main">
        <div class="row">
          <h1 class="page-header"><%=PageTitle%></h1>
          <%- body %>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <footer>
    2018
  </footer>
</body>

</html>