<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>user details</h2>
      <br>
      <br> ID: <%=  users._id %>
      <br> Firstname: <%=users.firstname%>
      <br> Lastname: <%=users.lastname%>
      <br> MobileNumber: <%=users.mobilenumber%>
      <br> Email: <%=users.email%>
      <br> Street 1: <%=users.street1%>
      <br> Street 2: <%=users.street2 %>
      <br> City: <%=users.city %>
      <br> State: <%=users.state %>
      <br> Zip: <%=users.zip %>
      <br> Country: <%=users.country %>
      <hr>

      <form method="get" action="/users">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

    </div>
  </div>
</div>