
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Confirm deletion of Transaction</h2>
      <br>
      <br> ID: <%=  transactions._transactionid %>
      <br> Acoounttype: <%=transactions.Acoounttype%>
      <br> AccountNumber: <%=transactions.AccountNumber%>
      <br> Amount: <%=transactions.Amount%>
      <br> AvailbleBalance: <%=transactions.AvailbleBalance%>
      <br> Categeory: <%=transactions.Categeory%>
      <hr>
      
      <form method="get" action="/transactions">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>


      <form method="POST" action="/transactions/delete/<%= transactions._id %>">
        <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
      </form>

    </div>
  </div>
</div>