<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="transactions/create" class="btn btn-primary new">
        Create a new Transaction
      </a>

      <h2>Recent entries</h2>
      <p>There are
        <%= transactions.query.length %> transactions.
        <br>
      </p>
      <% for (var i = transactions.query.length-1; i >= 0; i--) {   
        transaction = transactions.query[i];   %>

      <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="text-muted pull-right"></div>
        <div class="panel-body">

          <br> ID: <%=  transaction._transactionid %>
      <br> Account Type: <%=transaction.Acoounttype%>
      <br> Account Number: <%=transaction.AccountNumber%>
      <br> Transaction Amount: <%=transaction.Amount%>
      <br> Available Balance: <%=transaction.AvailbleBalance%>
      <br> Category: <%=transaction.Categeory%>
    

          <hr>
          <a href="/transactions/delete/<%= transaction._transactionid  %>" class="btn btn-danger"> Delete </a>
          <a href="/transactions/details/<%= transaction._transactionid %>" class="btn btn-info"> Details </a>
          <a href="/transactions/edit/<%= transaction._transactionid %>" class="btn btn-primary"> Edit </a>
          <hr>
          <hr>
        </div>
      </div>
      <% } %>

    </div>
  </div>
</div>