<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Account details</h2>
      <br>
      <br> ID: <%=  accounts._id %>
      <br> Balance: <%=accounts.balance%>
      <br> UserId: <%=accounts.userid%>
      <br> Account Type: <%=accounts.accounttype%>
      <hr>

      <form method="get" action="/accounts">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

    </div>
  </div>
</div>