<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="accounts/create" class="btn btn-primary new">
        Create a new account
      </a>

      <h2>Recent entries</h2>
      <p>There are
        <%= accounts.query.length %> users.
        <br>
      </p>
      <% for (var i = accounts.query.length-1; i >= 0; i--) {   
        account = accounts.query[i];   %>

      <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="text-muted pull-right"></div>
        <div class="panel-body">

          <br> ID: <%=  account._id %>
      <br> balance: <%=account.balance%>
      <br> UserID: <%=account.userid%>
      <br> Account Type: <%=account.accounttype%>

          <hr>
          <a href="/accounts/delete/<%= account._id  %>" class="btn btn-danger"> Delete </a>
          <a href="/accounts/details/<%= account._id %>" class="btn btn-info"> Details </a>
          <a href="/accounts/edit/<%= account._id %>" class="btn btn-primary"> Edit </a>
          <hr>
          <hr>
        </div>
      </div>
      <% } %>

    </div>
  </div>
</div>