<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h1> Sharadruthi Beerkuri </h1>
      <h2> <a href="https://druthi7.github.io/aboutme/" target="_blank">about me</a> </h2>
      <br>
      <br>
    </div>
  </div>
</div>