<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <style class="cp-pen-styles">@font-face {
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 400;
        src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v17/TK3iWkUHHAIjg752GT8D.ttf) format('truetype');
      }
      * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
      }
      html,
      body {
        background: #333;
        border: 0px;
        width: 100%;
        height: 100%;
      }
      html {
        padding: 50px;
        display: table;
      }
      body {
        display: table-cell;
        vertical-align: middle;
      }
      article.flashcard {
        margin: 0px auto;
        border: 1px rgba(255, 255, 255, 0.03) solid;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        width: 100%;
        max-width: 600px;
        height: 100%;
        max-height: 400px;
      }
      article.flashcard input[type=checkbox] {
        display: none;
      }
      article.flashcard input[type=checkbox]:checked ~ label section.front {
        height: 0%;
      }
      article.flashcard input[type=checkbox]:checked ~ label section.back {
        height: 100%;
      }
      article.flashcard label {
        display: block;
        width: 100%;
        height: 100%;
      }
      article.flashcard section {
        display: block;
        font: 30px 'Oswald', sans-serif;
        text-align: center;
        line-height: 400px;
        width: 100%;
        transition: all 0.2s linear 0s;
        overflow: hidden;
      }
      article.flashcard section.front {
        color: #00AFF9;
        background: #DDD;
        height: 100%;
      }
      article.flashcard ,section.back ,a.back{
        color: #DDD;
        background: #00AFF9;
        height: 0%;
      }
      </style>
      <article class="flashcard">
        <input id="flashcard-1" type="checkbox" />
        <label for="flashcard-1">
          <section class="back">
            <a href="/about/dev1" class="back">Developer 1</a>
          </section>
        </label>
      </article>
      <br>
      <br>
      <article class="flashcard">
        <input id="flashcard-1" type="checkbox" />
        <label for="flashcard-1">
          <section class="back">
            <a href="/about/dev2" class="back">Developer 2</a>
          </section>
        </label>
      </article>
      <br>
      <br>
      <article class="flashcard">
        <input id="flashcard-1" type="checkbox" />
        <label for="flashcard-1">
          <section class="back">
            <a href="/about/dev3" class="back">Developer 3</a>
          </section>
        </label>
      </article>
      <br>
      <br>
      <article class="flashcard">
        <input id="flashcard-1" type="checkbox" />
        <label for="flashcard-1">
          <section class="back">
            <a href="/about/dev4" class="back">Developer 4</a>
          </section>
        </label>
      </article>
    </div>
  </div>
</div>